In [2]:
import pandas as pd

#  DataFrame из таблицы
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'Имя': ['Иван', 'Ольга', 'Алексей', 'Мария', 'Сергей', 'Анна', 'Дмитрий', 'Елена', 'Виктор', 'Алиса',
            'Павел', 'Светлана', 'Роман', 'Татьяна', 'Николай', 'Валерия', 'Григорий', 'Юлия', 'Степан', 'Василиса'],
    'Возраст': [25, 30, 40, 35, 28, 32, 45, 29, 31, 27, 33, 26, 42, 37, 39, 24, 50, 45, 41, 38],
    'Должность': ['Инженер', 'Аналитик', 'Менеджер', 'Программист', 'Специалист', 'Разработчик', 'HR', 'Маркетолог', 'Юрист', 'Дизайнер',
                  'Администратор', 'Тестировщик', 'Финансист', 'Редактор', 'Логист', 'SEO-специалист', 'Бухгалтер', 'Директор', 'Экономист', 'Проект-менеджер'],
    'Отдел': ['ИТ', 'Маркетинг', 'Продажи', 'ИТ', 'HR', 'ИТ', 'HR', 'Маркетинг', 'Юридический', 'Дизайн', 'Администрация', 'Тестирование', 'Финансы', 'Редакция', 'Логистика', 'SEO', 'Финансы', 'Финансы', 'Продажи', 'Продажи'],
    'Зарплата': [60000, 75000, 90000, 80000, 50000, 85000, 48000, 70000, 95000, 62000, 55000, 67000, 105000, 72000, 75000, 64000, 110000, 150000, 98000, 88000],
    'Стаж работы': [2, 5, 15, 7, 3, 6, 12, 4, 10, 5, 7, 2, 20, 9, 11, 3, 25, 20, 14, 8]
}

df = pd.DataFrame(data)

#  информация о сотруднике с ID = 5 с помощью .loc[]
df.set_index('ID', inplace=True)
info_ID_5 = df.loc[5]
print("Информация о сотруднике с ID=5:\n", info_ID_5)

#  возраст третьего сотрудника в таблице с помощью .iloc[]
age_third_employee = df.iloc[2]['Возраст']
print("\nВозраст третьего сотрудника:", age_third_employee)

#  название отдела для сотрудника "Мария" с помощью .at[]
department_maria = df.at[df.index[df['Имя'] == 'Мария'][0], 'Отдел']
print("\nОтдел сотрудницы 'Мария':", department_maria)

#  зарплата сотрудника, находящегося в четвертой строке и пятом столбце, используя .iat[]
salary_value = df.iat[3, 4]
print("\nЗарплата сотрудника из 4-й строки и 5-го столбца:", salary_value)

Информация о сотруднике с ID=5:
 Имя                Сергей
Возраст                28
Должность      Специалист
Отдел                  HR
Зарплата            50000
Стаж работы             3
Name: 5, dtype: object

Возраст третьего сотрудника: 40

Отдел сотрудницы 'Мария': ИТ

Зарплата сотрудника из 4-й строки и 5-го столбца: 80000