In [1]:
import pandas as pd

#  DataFrame из таблицы
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'Имя': ['Иван', 'Ольга', 'Алексей', 'Мария', 'Сергей', 'Анна', 'Дмитрий', 'Елена', 'Виктор', 'Алиса',
            'Павел', 'Светлана', 'Роман', 'Татьяна', 'Николай', 'Валерия', 'Григорий', 'Юлия', 'Степан', 'Василиса'],
    'Возраст': [25, 30, 40, 35, 28, 32, 45, 29, 31, 27, 33, 26, 42, 37, 39, 24, 50, 45, 41, 38],
    'Должность': ['Инженер', 'Аналитик', 'Менеджер', 'Программист', 'Специалист', 'Разработчик', 'HR', 'Маркетолог', 'Юрист', 'Дизайнер',
                  'Администратор', 'Тестировщик', 'Финансист', 'Редактор', 'Логист', 'SEO-специалист', 'Бухгалтер', 'Директор', 'Экономист', 'Проект-менеджер'],
    'Отдел': ['ИТ', 'Маркетинг', 'Продажи', 'ИТ', 'HR', 'ИТ', 'HR', 'Маркетинг', 'Юридический', 'Дизайн', 'Администрация', 'Тестирование', 'Финансы', 'Редакция', 'Логистика', 'SEO', 'Финансы', 'Финансы', 'Продажи', 'Продажи'],
    'Зарплата': [60000, 75000, 90000, 80000, 50000, 85000, 48000, 70000, 95000, 62000, 55000, 67000, 105000, 72000, 75000, 64000, 110000, 150000, 98000, 88000],
    'Стаж работы': [2, 5, 15, 7, 3, 6, 12, 4, 10, 5, 7, 2, 20, 9, 11, 3, 25, 20, 14, 8]
}

df = pd.DataFrame(data)

df['Категория зарплаты'] = pd.cut(df['Зарплата'], bins=[0, 60000, 100000, float('inf')], labels=['Низкая', 'Средняя', 'Высокая'], right=False)

print("До удаления столбца 'Категория зарплаты':")
print(df)
# Удалил
df = df.drop(columns=['Категория зарплаты'])
print("\nПосле удаления столбца 'Категория зарплаты':")
print(df)

#  Удалить строку с ID = 10
df = df[df['ID'] != 10]
print("\nПосле удаления строки с ID=10:")
print(df)

#  Удалить все строки, где Стаж работы < 3 лет
df = df[df['Стаж работы'] >= 3]
print("\nПосле удаления строк, где стаж работы < 3 лет:")
print(df)

#  Удалить все столбцы, кроме Имя, Должность, Зарплата
df = df[['Имя', 'Должность', 'Зарплата']]
print("\nПосле удаления всех столбцов, кроме 'Имя', 'Должность', 'Зарплата':")
print(df)

До удаления столбца 'Категория зарплаты':
    ID       Имя  Возраст        Должность          Отдел  Зарплата  \
0    1      Иван       25          Инженер             ИТ     60000
1    2     Ольга       30         Аналитик      Маркетинг     75000
2    3   Алексей       40         Менеджер        Продажи     90000
3    4     Мария       35      Программист             ИТ     80000
4    5    Сергей       28       Специалист             HR     50000
5    6      Анна       32      Разработчик             ИТ     85000
6    7   Дмитрий       45               HR             HR     48000
7    8     Елена       29       Маркетолог      Маркетинг     70000
8    9    Виктор       31            Юрист    Юридический     95000
9   10     Алиса       27         Дизайнер         Дизайн     62000
10  11     Павел       33    Администратор  Администрация     55000
11  12  Светлана       26      Тестировщик   Тестирование     67000
12  13     Роман       42        Финансист        Финансы    105000
13  14   Татьяна       37         Редактор       Редакция     72000
14  15   Николай       39           Логист      Логистика     75000
15  16   Валерия       24   SEO-специалист            SEO     64000
16  17  Григорий       50        Бухгалтер        Финансы    110000
17  18      Юлия       45         Директор        Финансы    150000
18  19    Степан       41        Экономист        Продажи     98000
19  20  Василиса       38  Проект-менеджер        Продажи     88000

    Стаж работы Категория зарплаты
0             2            Средняя
1             5            Средняя
2            15            Средняя
3             7            Средняя
4             3             Низкая
5             6            Средняя
6            12             Низкая
7             4            Средняя
8            10            Средняя
9             5            Средняя
10            7             Низкая
11            2            Средняя
12           20            Высокая
13            9            Средняя
14           11            Средняя
15            3            Средняя
16           25            Высокая
17           20            Высокая
18           14            Средняя
19            8            Средняя

После удаления столбца 'Категория зарплаты':
    ID       Имя  Возраст        Должность          Отдел  Зарплата  \
0    1      Иван       25          Инженер             ИТ     60000
1    2     Ольга       30         Аналитик      Маркетинг     75000
2    3   Алексей       40         Менеджер        Продажи     90000
3    4     Мария       35      Программист             ИТ     80000
4    5    Сергей       28       Специалист             HR     50000
5    6      Анна       32      Разработчик             ИТ     85000
6    7   Дмитрий       45               HR             HR     48000
7    8     Елена       29       Маркетолог      Маркетинг     70000
8    9    Виктор       31            Юрист    Юридический     95000
9   10     Алиса       27         Дизайнер         Дизайн     62000
10  11     Павел       33    Администратор  Администрация     55000
11  12  Светлана       26      Тестировщик   Тестирование     67000
12  13     Роман       42        Финансист        Финансы    105000
13  14   Татьяна       37         Редактор       Редакция     72000
14  15   Николай       39           Логист      Логистика     75000
15  16   Валерия       24   SEO-специалист            SEO     64000
16  17  Григорий       50        Бухгалтер        Финансы    110000
17  18      Юлия       45         Директор        Финансы    150000
18  19    Степан       41        Экономист        Продажи     98000
19  20  Василиса       38  Проект-менеджер        Продажи     88000

    Стаж работы
0             2
1             5
2            15
3             7
4             3
5             6
6            12
7             4
8            10
9             5
10            7
11            2
12           20
13            9
14           11
15            3
16           25
17           20
18           14
19            8

После удаления строки с ID=10:
    ID       Имя  Возраст        Должность          Отдел  Зарплата  \
0    1      Иван       25          Инженер             ИТ     60000
1    2     Ольга       30         Аналитик      Маркетинг     75000
2    3   Алексей       40         Менеджер        Продажи     90000
3    4     Мария       35      Программист             ИТ     80000
4    5    Сергей       28       Специалист             HR     50000
5    6      Анна       32      Разработчик             ИТ     85000
6    7   Дмитрий       45               HR             HR     48000
7    8     Елена       29       Маркетолог      Маркетинг     70000
8    9    Виктор       31            Юрист    Юридический     95000
10  11     Павел       33    Администратор  Администрация     55000
11  12  Светлана       26      Тестировщик   Тестирование     67000
12  13     Роман       42        Финансист        Финансы    105000
13  14   Татьяна       37         Редактор       Редакция     72000
14  15   Николай       39           Логист      Логистика     75000
15  16   Валерия       24   SEO-специалист            SEO     64000
16  17  Григорий       50        Бухгалтер        Финансы    110000
17  18      Юлия       45         Директор        Финансы    150000
18  19    Степан       41        Экономист        Продажи     98000
19  20  Василиса       38  Проект-менеджер        Продажи     88000

    Стаж работы
0             2
1             5
2            15
3             7
4             3
5             6
6            12
7             4
8            10
10            7
11            2
12           20
13            9
14           11
15            3
16           25
17           20
18           14
19            8

После удаления строк, где стаж работы < 3 лет:
    ID       Имя  Возраст        Должность          Отдел  Зарплата  \
1    2     Ольга       30         Аналитик      Маркетинг     75000
2    3   Алексей       40         Менеджер        Продажи     90000
3    4     Мария       35      Программист             ИТ     80000
4    5    Сергей       28       Специалист             HR     50000
5    6      Анна       32      Разработчик             ИТ     85000
6    7   Дмитрий       45               HR             HR     48000
7    8     Елена       29       Маркетолог      Маркетинг     70000
8    9    Виктор       31            Юрист    Юридический     95000
10  11     Павел       33    Администратор  Администрация     55000
12  13     Роман       42        Финансист        Финансы    105000
13  14   Татьяна       37         Редактор       Редакция     72000
14  15   Николай       39           Логист      Логистика     75000
15  16   Валерия       24   SEO-специалист            SEO     64000
16  17  Григорий       50        Бухгалтер        Финансы    110000
17  18      Юлия       45         Директор        Финансы    150000
18  19    Степан       41        Экономист        Продажи     98000
19  20  Василиса       38  Проект-менеджер        Продажи     88000

    Стаж работы
1             5
2            15
3             7
4             3
5             6
6            12
7             4
8            10
10            7
12           20
13            9
14           11
15            3
16           25
17           20
18           14
19            8

После удаления всех столбцов, кроме 'Имя', 'Должность', 'Зарплата':
         Имя        Должность  Зарплата
1      Ольга         Аналитик     75000
2    Алексей         Менеджер     90000
3      Мария      Программист     80000
4     Сергей       Специалист     50000
5       Анна      Разработчик     85000
6    Дмитрий               HR     48000
7      Елена       Маркетолог     70000
8     Виктор            Юрист     95000
10     Павел    Администратор     55000
12     Роман        Финансист    105000
13   Татьяна         Редактор     72000
14   Николай           Логист     75000
15   Валерия   SEO-специалист     64000
16  Григорий        Бухгалтер    110000
17      Юлия         Директор    150000
18    Степан        Экономист     98000
19  Василиса  Проект-менеджер     88000